<header class="header">
  <a class="logo-container" href="../../index.php">
    <img class="company-logo" src="assets/img/logo_pineapple.png" alt="Company logo.">
    <img class="company-logo-mobile" src="assets/img/pineapple.png" alt="Company logo.">
  </a>
  <nav class="nav">
    <ul class="inner-nav">
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">How it works</a></li>
      <li class="nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>