<footer class="footer">
  <section class="social-icon-wrap">
    <div class="social-icon facebook-wrap">
      <a href="#">
        <span class="icon-social icon-Facebook"></span>
      </a>
    </div>
    <div class="social-icon instragram-wrap">
      <a href="#">
        <span class="icon-social icon-Instagram"></span>
      </a>
    </div>
    <div class="social-icon twitter-wrap">
      <a href="#">
        <span class="icon-social icon-Twitter"></span>
      </a>
    </div>
    <div class="social-icon youtube-wrap">
      <a href="#">
        <span class="icon-social icon-Youtube"></span>
      </a>
    </div>
  </section>
</footer>