h1 {
  margin: 40px 0;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

div {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

button {
  margin: 0 20px;
  padding: 5px;
  cursor: pointer;
}

.delete {
  text-decoration: underline;
}

form {
  width: 90%;
  max-width: 800px;
  margin: 25px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

form > button {
  padding: 2px;
}

input {
  margin-left: 10px;
}
