h1 {
  margin: 40px 0;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

div {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
}

button {
  margin: 5px 20px;
  padding: 5px;
  cursor: pointer;
}

.delete {
  text-decoration: underline;
}

form,
.pagination {
  width: 90%;
  max-width: 800px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

form > button {
  padding: 2px;
}

input {
  margin: 5px 0 5px 10px;
}

.pagination {
  justify-content: center;
}

.pagination a > button {
  margin: 5px 5px;
}

button.active-page {
  border-width: 2px;
  border-radius: 3px;
  box-shadow: inset 0 0 2px;
}
